<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
</head>
<body>
    <h1>Assignments</h1>

    <table>
		<thead>
			<tr>
				<th>Assignment</th>
				<th>Score</th>
				<th>Total</th>
                <th>Completed</th>
                <th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{{#each assignment}}
			<tr>
				<td>{{name}}</td>
				<td>{{score}}</td>
				<td>{{total}}</td>
                <td>{{completed}}</td> {{!--&#10003;  checkmark? --}}
			</tr>
		{{/each}}
		</tbody>
	</table>
    <p>Overall Average: {{average}}</p>
    <a href="/add">Add an Assignment</a>
</body>
</html>